@page
@model MuzicStore.Pages.Authentication.SignupModel
@{
    string message = ViewData["msg"] as string;
}

@if (ViewData["msg"] != null)
{
    <div class="alert alert-danger">
        @ViewData["msg"]
    </div>
}

<div class="d-flex justify-content-center" style="background-color: #1c1c1c; height: 100vh; align-items: center;">
    <div class="card p-3" style="background-color: #1c1c1c; color: white;">
        <h2>Sign Up</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" type="password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPassword" class="control-label"></label>
                <input asp-for="RepeatPassword" class="form-control" type="password" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
                <a class="link-secondary btn btn-outline-primary mt-3 text-decoration-none text-white" asp-area="" asp-page="/Authentication/Login">Login</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}